<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top | <%= link_to 'View all projects', portfolios_path %></a>
    </p>
    <p><%= copyright_generator %></p>
  </div>
</footer>