<div class="card card-block">
  <h4>Flatiron School</h4>
  <p>2017 - 2017</p>
  <p>Full Stack Web Development Immersive</p>
</div>
<div class="card card-block">
  <h4>State University of New York at Albany</h4>
  <p>2008 - 2012</p>
  <p>Bachelor of Arts (B.A.)</p>
  <p>Major: Economics</p>
  <p>Minor: Computer Science</p>
</div>
<div class="card card-block">
  <h4>Wall High School</h4>
  <p>2004 - 2008</p>
</div>
