<div class="card card-block">
  <h4>UI Developer</h4>
  <p>Storage Engine</p>
  <p>02/2018 - current</p>
  <ul>
    <li>Developing awesome web apps with react!</li>
    <li>Making extensive use of /giphy on slack</li>
  </ul>
</div>
<div class="card card-block">
  <h4>Lead Developer</h4>
  <p>Univec</p>
  <p>10/2017 - 02/2018</p>
  <ul>
    <li>Developed mobile apps with React-Native</li>
    <li>Created and maintained a Firebase database</li>
  </ul>
</div>
<div class="card card-block">
  <h4>Inside Sales Representative</h4>
  <p>NRG Home Solar</p>
  <p>10/2016 - 04/2017</p>
  <ul>
    <li>Sold and educated prospective customers on Solar</li>
    <li>Managed a large pipeline of prospective customers and ensured that each opportunity was managed and current</li>
  </ul>
</div>
<div class="card card-block">
  <h4>Energy Solutions Advisior</h4>
  <p>Micronesia Renewable Energy</p>
  <p>05/2016 - 08/2016</p>
  <ul>
    <li>Met with prospective customers at their homes to present solar products</li>
    <li>Participated in community engagement events</li>
    <li>Sold and educated prospective customers on Solar</li>
    <li>Managed a large pipeline of prospective customers and ensured that each opportunity was managed and current</li>
  </ul>
</div>
<div class="card card-block">
  <h4>California Inside Sales Representative</h4>
  <p>NRG Home Solar</p>
  <p>05/2015 - 05/2016</p>
  <ul>
    <li>Sold and educated prospective customers on Solar</li>
    <li>Managed a large pipeline of prospective customers and ensured that each opportunity was managed and current</li>
  </ul>
</div>
<div class="card card-block">
  <h4>Solar Qualifing Specialist</h4>
  <p>NRG Home Solar</p>
  <p>04/2014 - 05/2015</p>
  <ul>
    <li>Ensured that all Solar Suitability Guidelines were being met</li>
    <li>Spoke to homeowners to qualify their homes for Solar.</li>
  </ul>
</div>
<div class="card card-block">
  <h4>Customer Support Specialist</h4>
  <p>SCT software</p>
  <p>01/2014 - 04/2014</p>
  <ul>
    <li>Utilized Visual studio to create applications both for internal use and use by customers.</li>
    <li>Developed programs to deploy and Consume Web Services.</li>
    <li>Developed software to interface with USB HID devices such as digital scales</li>
  </ul>
</div>
