<div class="app-card-container">
  <div class="card">
    <div class="inner cover">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "marcy-pic.jpg", width: 260, alt: "linkedin Image", class:"profile-img" %>
        </div>
        <div class="col-md-1">
          
        </div>
        <div class="col-md-7">
          <h1 class="cover-heading">About Me</h1>
          <p class="lead">My name is Charles Wooley, and I am an aspiring developer. I started my career in the renewable enegry sector, but my passion is for coding. I am looking forward to taking on new challanges, so that I can grow both as a person and a developer. </p>
          <p>
            <button class="btn btn-primary"
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#jobHistory" 
                    aria-expanded="false" 
                    aria-controls="jobHistory">
              Job History
            </button>
            <button class="btn btn-primary"
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#edHistory" 
                    aria-expanded="false" 
                    aria-controls="edHistory">
              Education
            </button>
          </p>
          <p>
            <div class="collapse" id="jobHistory">
              <%= render "jobs" %>
            </div>
          </p>
          
          <p>
            <div class="collapse" id="edHistory">
              <%= render "education" %>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

