<div class="inner cover">
  <h1 class="cover-heading">Contact Me</h1>
  <h3>Email</h3>
  <p><a href="mailto:cwooley89@gmail.com?subject=PortfolioContact" "cwooley89@gmail.com">cwooley89@gmail.com</a></p>
  <h3>Mobile</h3>
  <p>(908)489-2802</p>
  <h3>Carrier Pidgeon</h3>
  <p>1202 magnolia ave Sea Girt, NJ 08750</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.284372783707!2d-74.05581068409639!3d40.13594887939867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c187b6273e67df%3A0x410dfeca357be800!2s1202+Magnolia+Ave%2C+Sea+Girt%2C+NJ+08750!5e0!3m2!1sen!2sus!4v1490222895398" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>