<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">This is my own little corner of the web that I built from scratch with Rails. Here you will find some samples of work that I have done, my digital resume, and blog.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



